.container {
  max-width: 1000px;
  margin: auto;
  font-family: Calibri;
  
}

@media only screen and (min-width: 700px) {
  .grid_layout {
    display: grid;
    grid-template-areas: 'top top' 'left right';
    grid-gap: 10px;
    padding: 15px;
    grid-template-rows: 150px;
    grid-auto-rows: 600px;
  }
}

.top {
  grid-area: top;
  text-align: center;
  background-color: #ff0000;
}
.budget__total {
  font-size: 30px;
  margin-bottom: 15px;
}
.left {
  grid-area: left;
  background-color: #1eff00;
}
.container > div {
  padding: 30px;
  border: 1px #33ff00 solid;
}
.container > div h1 {
  margin-top: 0;
}
.right {
  grid-area: right;
  background-color: #09ff00;
}
.budget__value {
  padding-bottom: 30px;
}
.list {
  display: flex;
  flex-direction: column;
}
.list_item {
  display: flex;
  justify-content: space-between;
}
.list__inner {
  flex-grow: 1;
}

.list__total {
  align-self: flex-end;
}
button{
  -moz-box-shadow: 0px 10px 14px -7px #ea00ff;
	-webkit-box-shadow: 0px 10px 14px -7px #000000;
	box-shadow: 0px 10px 14px -7px #000000;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0059ff), color-stop(1, #0073ff));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
button:hover{
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
select{
  border-radius: 25px;
  border-color: #476e9e;
  height: 30px;
}
button:active{
  position:relative;
	top:1px;
}
input{
  border-color: #476e9e;
  border-radius: 5px;
  -moz-border-radius: 5px; 
-webkit-border-radius: 5px;
border-width: thin; 
height: 30px;
}

/* 
CSS UZDEVUMI
Nostilot galvenes un saraksta elementus
-Izcelt kopējo izdevumu un ienākumu izvadi
-Ienākumu un izdevumu sarakstam piešķirt stilu, kas labāk nodala saraksta ierakstus vienu no otra

*/